.main_footer
  .main_footer__left
    %h2.main_footer_title
      Home Life
    %p.footer_name
      © 2020~ Takei_Kazaki, Inc.
  .main_footer__right
    %ul.footer__top
      %li.footer__top--box
        =link_to "#", class: "footer__top--box" do
          HomeLifeとは？
      %li.footer__top--box
        =link_to "#", class: "footer__top--box" do
          Instagramer一覧
      %li.footer__top--box
        =link_to "#", class: "footer__top--box" do
          News
      %li.footer__top--box
        =link_to "#", class: "footer__top--box" do
          投稿一覧
    %ul.footer__bottom
      %li.footer__bottom--link
        =link_to "https://www.wantedly.com/", class: "footer__bottom--link" do
          Wantedly
      %li.footer__bottom--btn
        =link_to "https://www.facebook.com/", class: "footer__bottom--btn" do
          = icon('fab', 'facebook-square', class: "footer__bottom--btn--icon")
      %li.footer__bottom--btn
        =link_to "https://twitter.com/", class: "footer__bottom--btn" do
          = icon('fab', 'twitter', class: "footer__bottom--btn--icon")
      %li.footer__bottom--btn
        =link_to "https://www.instagram.com/", class: "footer__bottom--btn" do
          = icon('fab', 'instagram', class: "footer__bottom--btn--icon")
