.bodynewcre{
  background: #f0f0f0;
  font-family: 'Source Sans Pro', Helvetica , Arial, '游ゴシック体', 'YuGothic', 'メイリオ', 'Meiryo', sans-serif;
  font-size: 14px;
  color: #333;
  line-height: 1;
  font-family: "Arial Rounded MT Bold", "Helvetica Rounded", Arial, sans-serif;
  @media screen and (max-width : 700px){
    width: auto;
    // height: 1400px;
    padding: 0 20px;
  }
}
.bodynew .effect-scroll{
  opacity: 1;
  transform: translate(0, 0);
}

.add-home{
  &__header{
    height: 100px;
    width: 700px;
    margin: 0 auto;
    background-color: #f0f0f0;
    padding: 40px 0 0 0;
    @media screen and (max-width : 700px){
      width: auto;
    }
    &--logo {
      margin: 0 auto;
      width: 185px;
      height: 49px;
      line-height: 49px;
      display: block;
      &:hover{
        opacity: 0.5;
      }
    }
  }
  &__main{
    background: #fff;
    display: block;
    margin: 0 auto 20px;
    width: 700px;
    border-radius: 40px;
    background: #f0f0f0;
    box-shadow: -2px -2px 5px rgba(255, 255, 255, 1),
                3px 3px 5px rgba(0, 0, 0, 0.1);
    @media screen and (max-width : 700px){
      width: auto;
    }
    &--top{
      padding: 32px 16px;
      font-size: 22px;
      padding: 24px 5px;
      font-size: 22px;
      line-height: 1.5;
      text-align: center;  
      border-bottom: 2px solid #f5f5f5;
      .newpost{
        margin-top: 10px;
        font-size: 35px;
        font-family: "Arial Rounded MT Bold", "Helvetica Rounded", Arial, sans-serif;
        text-transform: uppercase;
        color: #f0f0f0;
        text-shadow: 0 8px 9px #c5c1bb, 0px -2px 1px #fff;
        font-weight: bold;
        text-align: center;
        border-radius: 20px;
        text-decoration: none;
        &:hover{
          color: #fff;
        }
      }
      
    }
    &--bottom{
      &--img{  
        padding: 40px 2.5% 0;
      }
      &--name{
        &__top{
          margin: 30px 0 0;
        }
        &__bottom{
          margin: 20px 0 0;
          line-height: 1.4;
        }
      }
      &--btn{
        padding: 40px;
        border-top: 1px solid #eee;
        text-decoration: none;
        &__ul{
          padding: 10px;
          display: flex;
          align-items: center;
          justify-content: center;
          @media screen and (max-width : 700px){
            padding: 0;
          }
          &__red{
            margin: 0 10px 0;
            height: 60px;
            width: 60px;
            border-radius: 50%;
            background-color: red;
          }
          &__ora{
            margin: 0 10px 0;
            height: 60px;
            width: 60px;
            border-radius: 50%;
            background-color: orange;
          }
          &__gre{
            margin: 0 10px 0;
            height: 60px;
            width: 60px;
            border-radius: 50%;
            background-color: green;
          }
          &__blu{
            margin: 0 10px 0;
            height: 60px;
            width: 60px;
            border-radius: 50%;
            background-color: blue;
          }
        }
        &__box{
          display: flex;
          justify-content: center;
          margin: 40px 25px 15px;
          &__red-btn{
            margin-left: 20px;
            text-decoration: none;
            background: black;
            border: 1px solid black;
            border-radius: 20px;
            color: #fff;
            display: block;
            width: 90px;
            line-height: 48px;
            font-size: 14px;
            border: 1px solid transparent;
            -webkit-transition: all ease-out .3s;
            transition: all ease-out .3s;
            cursor: pointer;
            text-align: center;
            &:hover {
              text-decoration: none;
              color: white;
              opacity: 0.5 ;
            }  
          }
          &__gray-btn{
            width: 80px;
            margin: 0 40px;
            margin-right: 20px;
            background: #aaa;
            border: 1px solid #aaa;
            border-radius: 20px;
            color: #fff;
            display: block;
            line-height: 48px;
            font-size: 14px;
            border: 1px solid transparent;
            -webkit-transition: all ease-out .3s;
            transition: all ease-out .3s;
            cursor: pointer;
            text-align: center;
            text-decoration: none;      
            &:hover {
              opacity: 0.5;
              text-decoration: none;
              color: white;
            }   
          }
        }
      }
    }
  }
  
  &__footer{
    z-index: 1;
    height: 250px;
    padding: 40px 0;
    text-align: center;
    background-color: #f0f0f0;
    @media screen and (max-width : 700px){
      width: auto;
    }
    &__list{
      &--ul{
        &--li{
          display: inline-block;
          margin: 0 0 40px  16px;
          &:hover{
            opacity: 0.5;
          }
        }
      }
    }
    &__logo{
      width: 80px;
      height: 65px;
      display: block;
      margin:  0 auto;
      &:hover{
        opacity: 0.5 ;
      }
    }
    &__text{
      margin: 8px 0 0;
    }
  }
}

// 必須チェック
.form-top{
  display: flex;
  align-items: center;
  .form-require{
    background: #686766;
    width: 40px;
    height: 40px;
    margin: 0 0 0 8px;
    padding: 10px 4px;
    border-radius: 50%;
    color: #fff;
    font-size: 12px;
    vertical-align: top;
    text-align: center;
    @media screen and (max-width : 700px){
      padding: 13px 4px;
    }
  }
}
// フォーム
.input-default{
  width: 100%;
  margin: 8px 0 0;
  height: 48px;
  padding: 10px 16px 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background: #f5f5f5;
  line-height: 1.5;
  font-size: 16px;
}