.like_button{
  text-decoration: none;
  color: black;
  &__delete{
    &--icon{
      text-decoration: none;
      color: red;
    }
  }
  &__create{
    &--icon{
      text-decoration: none;
      color: black;
    }
  }
}
