.acmain_home
  .acmain_center
    .acmain_center--image
      %p.actop
        Accounts
      %h3.acdown
        Instagramer List
    .acmain_center--box
      .acmain_center--box--imageac1
        .overlay1
        %p
          =link_to "https://www.instagram.com/ryota_para/", class: "p" do
            name: ryota_para
        .comment
          %h5
            パラレルワーカー/家づくりについての疑問など投稿etc
      .acmain_center--box--imageac2
        .overlay2
        %p
          =link_to "https://www.instagram.com/sabon.ismart/", class: "p" do
            name: sabon_ismart
        .comment
          %h5
            個人ブログ/28.5坪の平屋マイホーム内装の投稿etc
      .acmain_center--box--imageac3
        .overlay3
        %p
          =link_to "https://www.instagram.com/watashino_setsuyaku/", class: "" do
            name:  watashino_setsuyaku
        .comment
          %h5
            個人ブログ/暮らしのためになる情報を投稿etc
      .acmain_center--box--imageac4
        .overlay4
        %p
          =link_to "https://www.instagram.com/relivers_yourmystar/", class: "" do
            name:  relivers_yourmystar
        .comment
          %h5
            relivers編集部/暮らしを豊かにする情報を投稿etc
      .acmain_center--box--imageac5
        .overlay5
        %p
          =link_to "https://www.instagram.com/kamechan_ismart/", class: "" do
            name: kamechan_ismart
        .comment
          %h5
            個人ブログ/家、お金、料理に関する情報を投稿etc
      .acmain_center--box--imageac6
        .overlay6
        %p
          =link_to "https://www.instagram.com/eringo__/", class: "" do
            name:  eringo__
        .comment
          %h5
            個人ブログ/居心地のいい家作りを投稿etc
      .acmain_center--box--content
        -# %h1
        -#   My Homeを考える
        -# %p
        -#   今回は、カリキュラムの復習も兼ねて、主に学んできた言語を使いながら作成いたしました。初めてのWebアプリケーション作成ということで、どういうものにしようか非常に悩みました。
        -# %p
        -#   こう時間をかけて悩む暇はない状況だったので、主観的に考え、人生において自分はどんな夢を持ってるだろうか、と考えました。
        -# %p
        -#   そんな時、「家が欲しい」と、直感的に浮かんできたので、ファーストインスピレーションを大事にし、テーマを「My Home」として考え、取り組んできました。
        -# %p
        -#   将来、同じように思う方、少なからずいると思うと勝手に思っているのですが、じゃあこのテーマに対しどういう情報を集めていけば“便利である”ことに繋がるか考え、作成していきました。